/* Navigation bar padding */
.navbar-nav{
    padding-bottom: 2px;
}

/* Navigation bar underline animation */
.navbar-nav > li > a::after{
    content: "";
    display: block;
    width: 0%;
    border-bottom: 2px solid white;
    padding-bottom: 0px;
    transition: .2s linear;
}
.navbar-nav > li > a:hover::after{
    padding-bottom: 0px;
    width: 100%;
}

/* Global font size */
html {
    font-size: 18px;
    font-family: Georgia, serif;
}

#navbar{
    opacity: 1;
}

#main-page {
    background-color:antiquewhite;
}
#background{
    background-image: url("../images/nia_road.JPEG");
    background-position: center;
    background-size: cover;
}
#profile-pic {
    margin-left: 20px;
}